#header {
    color: #ffffff;
    font-size: 30px;
    background: #56a3c2;
}
#box1 {
    padding: 10px;
    background: #edfbc7;
}
.box2 {
    display: flex;
    justify-content: center;
    gap: 120px;
}
.box2 div {
    background: #ffffff;
    padding: 20px;
}
